<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission since your app loads web content -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission for file downloads -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.ResumeWriterApp">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ResumeWriterApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
    android:name=".NetworkTestActivity"
    android:exported="true" />
    

        <activity
        android:name=".ResumeGenerationActivity"
        android:exported="true"
        android:label="Generate Resume"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Add LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Add the missing admin activities -->
        <activity
            android:name=".AdminPanelActivity"
            android:exported="true" />

        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />

        <activity
            android:name=".UserRegistrationActivity"
            android:exported="true" />
        

    
    </application>
</manifest>
